/*     _    __                  _                                     _     */
/*    | |  / /                 | |                                   | |    */
/*    | | / /                  | |                                   | |    */
/*    | |/ / _   _  ____   ____| | ______ ____   _____ ______   ____ | | __ */
/*    | |\ \| | | |/ __ \ / __ \ |/ /  __/ __ \ / __  | _  _ \ / __ \| |/ / */
/*    | | \ \ \_| | <__> |  ___/   <| / | <__> | <__| | |\ |\ | <__> |   <  */
/* By |_|  \_\__  |\___  |\____|_|\_\_|  \____^_\___  |_||_||_|\____^_\|\_\ */
/*              | |    | |                          | |                     */
/*           ___/ | ___/ |                          | |                     */
/*          |____/ |____/                           |_|                     */
/*                                                                          */

.body {
  font-family: Segoe UI;
  margin-left: 5%;
  margin-right: 5%;
}
