/*     _    __                  _                                     _     */
/*    | |  / /                 | |                                   | |    */
/*    | | / /                  | |                                   | |    */
/*    | |/ / _   _  ____   ____| | ______ ____   _____ ______   ____ | | __ */
/*    | |\ \| | | |/ __ \ / __ \ |/ /  __/ __ \ / __  | _  _ \ / __ \| |/ / */
/*    | | \ \ \_| | <__> |  ___/   <| / | <__> | <__| | |\ |\ | <__> |   <  */
/* By |_|  \_\__  |\___  |\____|_|\_\_|  \____^_\___  |_||_||_|\____^_\|\_\ */
/*              | |    | |                          | |                     */
/*           ___/ | ___/ |                          | |                     */
/*          |____/ |____/                           |_|                     */
/*                                                                          */

.body {
  font-family: Segoe UI;
  margin-left: 5%;
  margin-right: 5%;
}

.topbar {
  padding: 10px 20px;
  background-color: #2385c2;
}

.title {
  font-family: Segoe UI;
  font-size: 24px;
  font-weight: bolder;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.blank {
  padding: 10px 10px;
}

.line {
  font-family: Segoe UI;
  font-size: 24px;
  color: black;
  font-weight: bolder;
}

.menu:link, .menu:visited {
  padding: 10px 20px;
  font-family: Segoe UI;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.menu:hover, .menu:active {
  padding: 10px 20px;
  font-family: Segoe UI;
  font-size: 24px;
  background-color: orange;
  color: lightgray;
}
